@charset "utf-8";

body{
    font-family: 'Times New Roman', Times, serif;
}

table, tr, th, td{
    border: 1px solid black;
    margin: 20px;
}

caption{
    border: 1px solid black;
    font-size: 1.5em;
    font-weight: bold;
    background-color: #82F9A2;
    caption-side: top;
}

#nacionais{
    background-color: #3E7E7F;
}

.thead{
    background-color: #C0C0C0;
}